@model EJBMes.Models.ProdReport

@{
    ViewData["Title"] = "Edit Labor Activity";
}

<h1>Edit Labor</h1>

<h4>ProdReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EmployeeNum" class="control-label"></label>:
                <input type="hidden" asp-for="EmployeeNum" class="form-control" /><b>@Html.DisplayFor(model => model.EmployeeNum)</b>
                <span asp-validation-for="EmployeeNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobNum" class="control-label"></label>:
                <input type="hidden" asp-for="JobNum" class="form-control" /><b>@Html.DisplayFor(model => model.JobNum)</b>
                <span asp-validation-for="JobNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssemblyNum" class="control-label"></label>:
                <input type="hidden" asp-for="AssemblyNum" class="form-control" /><b>@Html.DisplayFor(model => model.AssemblyNum)</b>
                <span asp-validation-for="AssemblyNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpSeq" class="control-label"></label>:
                <input type="hidden" asp-for="OpSeq" class="form-control" /><b>@Html.DisplayFor(model => model.OpSeq)</b>
                <span asp-validation-for="OpSeq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResourceGroup" class="control-label"></label>
                <input asp-for="ResourceGroup" class="form-control" />
                <span asp-validation-for="ResourceGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResourceId" class="control-label"></label>
                <input asp-for="ResourceId" class="form-control" />
                <span asp-validation-for="ResourceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceNotes" class="control-label"></label>
                <input asp-for="ReferenceNotes" class="form-control" />
                <span asp-validation-for="ReferenceNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaborQty" class="control-label"></label>
                <input asp-for="LaborQty" class="form-control" />
                <span asp-validation-for="LaborQty" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="hidden" class="form-check-input" asp-for="ActiveLabor" />
                    @Html.DisplayFor(model => model.ActiveLabor)
                    @Html.DisplayNameFor(model => model.ActiveLabor)
                </label>                
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="hidden" class="form-check-input" asp-for="Procesed" />
                    @Html.DisplayFor(model => model.Procesed)
                    @Html.DisplayNameFor(model => model.Procesed)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="submit" value="Back to List" class="btn btn-secondary" asp-action="BackToList" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a class="nav-link text-dark" asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
