@model EJBMes.Models.ScrapReport

@{
    ViewData["Title"] = "Edit Scrap";
}

<h1>Edit Scrap</h1>

<h4>ScrapReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EmployeeNum" class="control-label"></label>
                <input asp-for="EmployeeNum" class="form-control" readonly />
                <span asp-validation-for="EmployeeNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobNum" class="control-label"></label>
                <input asp-for="JobNum" class="form-control" readonly />
                <span asp-validation-for="JobNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssemblyNum" class="control-label"></label>
                <input asp-for="AssemblyNum" class="form-control" readonly  />
                <span asp-validation-for="AssemblyNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpSeq" class="control-label"></label>
                <input asp-for="OpSeq" class="form-control" readonly />
                <span asp-validation-for="OpSeq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScrapDate" class="control-label"></label>
                <input asp-for="ScrapDate" class="form-control" />
                <span asp-validation-for="ScrapDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResourceGroup" class="control-label"></label>
                <input asp-for="ResourceGroup" class="form-control" readonly />
                <span asp-validation-for="ResourceGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResourceId" class="control-label"></label>
                <input asp-for="ResourceId" class="form-control" readonly />
                <span asp-validation-for="ResourceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceNotes" class="control-label"></label>
                <input asp-for="ReferenceNotes" class="form-control" />
                <span asp-validation-for="ReferenceNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScrapQty" class="control-label"></label>
                <input asp-for="ScrapQty" class="form-control" />
                <span asp-validation-for="ScrapQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReasonCode" class="control-label"></label>
                @* <input asp-for="ReasonCode" class="form-control" /> *@
                @Html.DropDownListFor(x=>x.ReasonCode, (IEnumerable<SelectListItem>)ViewBag.modelListReason , "--Select a Reason--" , new { @class="form-control", id="ddReason"})
                <span asp-validation-for="ReasonCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhseCode" class="control-label"></label>
                @* <input asp-for="WhseCode" class="form-control" /> *@
                @Html.DropDownListFor(x=>x.WhseCode, (IEnumerable<SelectListItem>)ViewBag.modelListWhse , "--Select a Warehouse--" , new { @class="form-control", id="ddWhse"})
                <span asp-validation-for="WhseCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BinNum" class="control-label"></label>
                @* <input asp-for="BinNum" class="form-control" /> *@
                @Html.DropDownListFor(x=>x.BinNum, (IEnumerable<SelectListItem>)ViewBag.modelListWhseBin , "--Select an BinNum--" , new { @class="form-control" , id="ddWhseBin"})
                <span asp-validation-for="BinNum" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="hidden" class="form-check-input" asp-for="Procesed" /> @Html.DisplayNameFor(model => model.Procesed)
                    @Html.DisplayFor(model => model.Procesed)
                    @Html.DisplayNameFor(model => model.Procesed)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="submit" value="Back to List" class="btn btn-secondary" asp-action="BackToList" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#ddWhse").change(RefreshBinNums);

            //RefreshBinNums();

            function RefreshBinNums() {
                $.get("/Scrap/GetBinNums", { siteID: "@ViewData["siteID"]", WareHouseCode: $("#ddWhse").val() }, function (data) {
                    // Empty DropDownList
                    $("#ddWhseBin").empty();
                    // Add new Label
                    $("#ddWhseBin").append("<option value>--Select an BinNum--</option>");
                    // Build the DropDownList from Json result (data)
                    $.each(data, function (index, row) {
                        $("#ddWhseBin").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });
                    //$("#ddWhseBin").append("<option value>--Select an BinNum--</option>");
                });
            };

        });
    </script>
}
